In [2]:
import pandas as pd 
import numpy as np
from sklearn.ensemble import RandomForestRegressor
from sklearn.model_selection import train_test_split
from sklearn.metrics import r2_score,mean_absolute_error
import joblib
import json
import os

In [3]:
dataph=r"C:\Users\Nandha Kumar\Downloads\crop_production.csv.zip"
df=pd.read_csv(dataph)

In [4]:
df.head()

,State_Name,District_Name,Crop_Year,Season,Crop,Area,Production
0,Andaman and Nicobar Islands,NICOBARS,2000,Kharif,Arecanut,1254.0,2000.0
1,Andaman and Nicobar Islands,NICOBARS,2000,Kharif,Other Kharif pulses,2.0,1.0
2,Andaman and Nicobar Islands,NICOBARS,2000,Kharif,Rice,102.0,321.0
3,Andaman and Nicobar Islands,NICOBARS,2000,Whole Year,Banana,176.0,641.0
4,Andaman and Nicobar Islands,NICOBARS,2000,Whole Year,Cashewnut,720.0,165.0

In [5]:
df.describe()

           Crop_Year          Area    Production
count  246091.000000  2.460910e+05  2.423610e+05
mean     2005.643018  1.200282e+04  5.825034e+05
std         4.952164  5.052340e+04  1.706581e+07
min      1997.000000  4.000000e-02  0.000000e+00
25%      2002.000000  8.000000e+01  8.800000e+01
50%      2006.000000  5.820000e+02  7.290000e+02
75%      2010.000000  4.392000e+03  7.023000e+03
max      2015.000000  8.580100e+06  1.250800e+09

In [6]:
df.info

<bound method DataFrame.info of                          State_Name District_Name  Crop_Year       Season  \
0       Andaman and Nicobar Islands      NICOBARS       2000  Kharif
1       Andaman and Nicobar Islands      NICOBARS       2000  Kharif
2       Andaman and Nicobar Islands      NICOBARS       2000  Kharif
3       Andaman and Nicobar Islands      NICOBARS       2000  Whole Year
4       Andaman and Nicobar Islands      NICOBARS       2000  Whole Year
...                             ...           ...        ...          ...
246086                  West Bengal       PURULIA       2014  Summer
246087                  West Bengal       PURULIA       2014  Summer
246088                  West Bengal       PURULIA       2014  Whole Year
246089                  West Bengal       PURULIA       2014  Winter
246090                  West Bengal       PURULIA       2014  Winter

                       Crop      Area  Production
0                  Arecanut    1254.0      2000.0
1       Other Kharif pulses       2.0         1.0
2                      Rice     102.0       321.0
3                    Banana     176.0       641.0
4                 Cashewnut     720.0       165.0
...                     ...       ...         ...
246086                 Rice     306.0       801.0
246087              Sesamum     627.0       463.0
246088            Sugarcane     324.0     16250.0
246089                 Rice  279151.0    597899.0
246090              Sesamum     175.0        88.0

[246091 rows x 7 columns]>

In [7]:
df.columns

Index(['State_Name', 'District_Name', 'Crop_Year', 'Season', 'Crop', 'Area',
       'Production'],
      dtype='object')

In [8]:
df.tail()

,State_Name,District_Name,Crop_Year,Season,Crop,Area,Production
246086,West Bengal,PURULIA,2014,Summer,Rice,306.0,801.0
246087,West Bengal,PURULIA,2014,Summer,Sesamum,627.0,463.0
246088,West Bengal,PURULIA,2014,Whole Year,Sugarcane,324.0,16250.0
246089,West Bengal,PURULIA,2014,Winter,Rice,279151.0,597899.0
246090,West Bengal,PURULIA,2014,Winter,Sesamum,175.0,88.0

In [9]:
df.isnull()

        State_Name  District_Name  Crop_Year  Season   Crop   Area  Production
0            False          False      False   False  False  False       False
1            False          False      False   False  False  False       False
2            False          False      False   False  False  False       False
3            False          False      False   False  False  False       False
4            False          False      False   False  False  False       False
...            ...            ...        ...     ...    ...    ...         ...
246086       False          False      False   False  False  False       False
246087       False          False      False   False  False  False       False
246088       False          False      False   False  False  False       False
246089       False          False      False   False  False  False       False
246090       False          False      False   False  False  False       False

[246091 rows x 7 columns]

In [10]:
df['yield']=df['Production']/df['Area']

In [11]:
from sklearn.preprocessing import LabelEncoder
l1,l2=LabelEncoder(),LabelEncoder()
df['Season']=l1.fit_transform(df['Season'])
df['Crop']=l2.fit_transform(df['Crop'])

In [12]:
df

,State_Name,District_Name,Crop_Year,Season,Crop,Area,Production,yield
0,Andaman and Nicobar Islands,NICOBARS,2000,1,2,1254.0,2000.0,1.594896
1,Andaman and Nicobar Islands,NICOBARS,2000,1,74,2.0,1.0,0.500000
2,Andaman and Nicobar Islands,NICOBARS,2000,1,95,102.0,321.0,3.147059
3,Andaman and Nicobar Islands,NICOBARS,2000,4,7,176.0,641.0,3.642045
4,Andaman and Nicobar Islands,NICOBARS,2000,4,22,720.0,165.0,0.229167
...,...,...,...,...,...,...,...,...
246086,West Bengal,PURULIA,2014,3,95,306.0,801.0,2.617647
246087,West Bengal,PURULIA,2014,3,102,627.0,463.0,0.738437
246088,West Bengal,PURULIA,2014,4,106,324.0,16250.0,50.154321
246089,West Bengal,PURULIA,2014,5,95,279151.0,597899.0,2.141848
246090,West Bengal,PURULIA,2014,5,102,175.0,88.0,0.502857

In [14]:
df['yield'] = df['yield'].fillna(df['yield'].mean())

In [15]:
x=df[['Crop_Year','Season','Crop','Area']]
y=df[['yield']]

In [16]:
x

        Crop_Year  Season  Crop      Area
0            2000       1     2    1254.0
1            2000       1    74       2.0
2            2000       1    95     102.0
3            2000       4     7     176.0
4            2000       4    22     720.0
...           ...     ...   ...       ...
246086       2014       3    95     306.0
246087       2014       3   102     627.0
246088       2014       4   106     324.0
246089       2014       5    95  279151.0
246090       2014       5   102     175.0

[246091 rows x 4 columns]

In [17]:
y

            yield
0        1.594896
1        0.500000
2        3.147059
3        3.642045
4        0.229167
...           ...
246086   2.617647
246087   0.738437
246088  50.154321
246089   2.141848
246090   0.502857

[246091 rows x 1 columns]

In [18]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2)
model=RandomForestRegressor(n_estimators=100,random_state=42)
model.fit(x_train, y_train.values.ravel())

y_pred=model.predict(x_test)

In [19]:
y_pred

array([3.87768267e-01, 1.63319548e-01, 4.84701070e-01, ...,
       5.07497249e+02, 1.35736819e+00, 1.99686317e+01])

In [20]:
print("r2",round(r2_score(y_test,y_pred)))

r2 0

In [21]:
print("mae",round(mean_absolute_error(y_test,y_pred)))

mae 36

In [22]:
joblib.dump(model,"crop_yield_model.pkl")

['crop_yield_model.pkl']

In [23]:
print(os.getcwd())

c:\Users\Nandha Kumar\Desktop\python